src/ch1_variables
ch2_if
ch3_switch
ch4_forLoop
ch5_arrays
ch6_tryCatch
ch7_methods
ch8_oop
ch9_constructor
ch10_lists
ch11_private
ch12_inheritance
ch13_static
ch14_ObjectAsField
ch15_random
ch16_finaldemo
/src/Main.java
